# MOVIES SEQUEL PORTFOLIO PROJECT

This is my first python portfolio project. In this project, i will be carrying out an exploratory analysis on an Excel dataset named 
Movies sequel across genres.xlsx. I will be providing detailed analysis to the following:

* Check the Datatype of each column
* Check for Null values in the dataset
* How many rows and columns are in the dataset
* Display Top 5 rows of the dataset
* Display Last 5 rows of the dataset
* What is the highest number of votes
* What is the lowest number of votes
* The Most preferred Movie Series
* The Average Runtime (mins)
* How many movies Runtime is equal to 100
* Provide the list and number of Genres that contains Adventure
* Top 5 Movie Series
* Give a List of movie Titles released in the year 2015
* Find the director name with the following URL: https://www.imdb.com/title/tt0106220/
* How many movies have Action, Adventure, Sci-Fi as Genres and IMDb Rating above or equal to 5.0
* Movie Series with the highest IMDb Rating
* In what Year were most Movies released

In [10]:
#importing pandas
import pandas as pd
movies = pd.read_excel('Movies sequel across genres.xlsx')

## 1. Check the Datatype of each column

In [7]:
movies.dtypes

index               int64
Title              object
Release Date       object
Year                int64
URL                object
IMDb Rating       float64
Runtime (mins)      int64
Genres             object
Num Votes           int64
Directors          object
Movie Series       object
dtype: object

## 2. Check for Null values in the dataset

In [8]:
movies.isnull().sum()

index             0
Title             0
Release Date      0
Year              0
URL               0
IMDb Rating       0
Runtime (mins)    0
Genres            0
Num Votes         0
Directors         0
Movie Series      0
dtype: int64

## 3. How many rows and columns are in the dataset

In [45]:
# Number of rows

len(movies)

847

In [46]:
# Number of columns

len(movies.columns)

11

In [47]:
# Or

movies.shape

(847, 11)

### Alternatively, Use Info to get the answer for question 1-3

In [48]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           847 non-null    int64
 1   Title           847 non-null    object
 2   Release Date    847 non-null    object
 3   Year            847 non-null    int64
 4   URL             847 non-null    object
 5   IMDb Rating     847 non-null    float64
 6   Runtime (mins)  847 non-null    int64
 7   Genres          847 non-null    object
 8   Num Votes       847 non-null    int64
 9   Directors       847 non-null    object
 10  Movie Series    847 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 72.9+ KB

## 4. Display Top 5 rows of the dataset

In [16]:
movies.head(5)

,index,Title,Release Date,Year,URL,IMDb Rating,Runtime (mins),Genres,Num Votes,Directors,Movie Series
0,1,101 Dalmatians,18-11-1996,1996,https://www.imdb.com/title/tt0115433/,5.7,103,"Adventure, Comedy, Crime, Family",98439,Stephen Herek,101 Dalmatians
1,2,102 Dalmatians,22-11-2000,2000,https://www.imdb.com/title/tt0211181/,4.9,100,"Adventure, Comedy, Family",33823,Kevin Lima,101 Dalmatians
2,3,12 Rounds,19-03-2009,2009,https://www.imdb.com/title/tt1160368/,5.6,108,"Action, Crime, Thriller",26828,Renny Harlin,12 Rounds
3,4,12 Rounds 2: Reloaded,2013-04-06 00:00:00,2013,https://www.imdb.com/title/tt2317524/,5.3,95,"Action, Adventure, Thriller",5141,Roel ReinÃ©,12 Rounds
4,5,21 Jump Street,2012-12-03 00:00:00,2012,https://www.imdb.com/title/tt1232829/,7.2,109,"Action, Comedy, Crime",498876,"Christopher Miller, Phil Lord",21 Jump Street

## 5. Display Last 5 rows of the dataset

In [17]:
movies.tail(5)

,index,Title,Release Date,Year,URL,IMDb Rating,Runtime (mins),Genres,Num Votes,Directors,Movie Series
842,843,[Rec]Â²,2009-02-09 00:00:00,2009,https://www.imdb.com/title/tt1245112/,6.5,85,"Action, Adventure, Fantasy, Horror, Sci-Fi, Th...",67100,"Jaume BalaguerÃ³, Paco Plaza",[Rec]
843,844,[Rec]Â³: GÃ©nesis,2012-09-03 00:00:00,2012,https://www.imdb.com/title/tt1649444/,5.0,80,"Action, Comedy, Horror, Romance, Sci-Fi, Thriller",32388,Paco Plaza,[Rec]
844,845,[REC] 4: Apocalipsis,2014-09-09 00:00:00,2014,https://www.imdb.com/title/tt1649443/,5.3,95,"Action, Adventure, Fantasy, Horror, Sci-Fi, Th...",15599,Jaume BalaguerÃ³,[Rec]
845,846,xXx,2002-09-08 00:00:00,2002,https://www.imdb.com/title/tt0295701/,5.9,124,"Action, Adventure, Thriller",170874,Rob Cohen,xXx
846,847,xXx: State of the Union,27-04-2005,2005,https://www.imdb.com/title/tt0329774/,4.4,101,"Action, Adventure, Crime, Sci-Fi, Thriller",66166,Lee Tamahori,xXx

## 6. What is the highest number of votes

In [51]:
movies['Num Votes']

0       98439
1       33823
2       26828
3        5141
4      498876
        ...
842     67100
843     32388
844     15599
845    170874
846     66166
Name: Num Votes, Length: 847, dtype: int64

In [52]:
movies['Num Votes'].max()

2220190

## 7. What is the lowest number of votes

In [53]:
movies['Num Votes']

0       98439
1       33823
2       26828
3        5141
4      498876
        ...
842     67100
843     32388
844     15599
845    170874
846     66166
Name: Num Votes, Length: 847, dtype: int64

In [54]:
movies['Num Votes'].min()

824

## 8. The Most preferred Movie Series

In [55]:
movies['Movie Series']

0      101 Dalmatians
1      101 Dalmatians
2           12 Rounds
3           12 Rounds
4      21 Jump Street
            ...
842             [Rec]
843             [Rec]
844             [Rec]
845               xXx
846               xXx
Name: Movie Series, Length: 847, dtype: object

In [56]:
movies['Movie Series'].mode()

0    Star Trek
Name: Movie Series, dtype: object

## 9. The Average Runtime (mins)

In [57]:
movies['Runtime (mins)']

0      103
1      100
2      108
3       95
4      109
      ...
842     85
843     80
844     95
845    124
846    101
Name: Runtime (mins), Length: 847, dtype: int64

In [58]:
movies['Runtime (mins)'].mean()

107.29515938606848

### Alternatively, Use Describe to get the answer for question 6-9

In [59]:
#Describe for Numerical Columns

movies.describe()

            index         Year  IMDb Rating  Runtime (mins)     Num Votes
count  847.000000   847.000000   847.000000      847.000000  8.470000e+02
mean   424.000000  2001.775679     6.375089      107.295159  2.126588e+05
std    244.652134    11.703154     1.130652       18.816402  2.543826e+05
min      1.000000  1942.000000     2.000000       70.000000  8.240000e+02
25%    212.500000  1994.000000     5.700000       94.000000  4.870850e+04
50%    424.000000  2004.000000     6.500000      104.000000  1.209190e+05
75%    635.500000  2011.000000     7.200000      118.000000  2.710940e+05
max    847.000000  2020.000000     9.200000      202.000000  2.220190e+06

In [60]:
#Describe for Categorical or non-numerical Columns

movies.describe(include=[object])

,Title,Release Date,URL,Genres,Directors,Movie Series
count,847,847,847,847,847,847
unique,838,818,847,245,508,375
top,Halloween,2007-12-06 00:00:00,https://www.imdb.com/title/tt0115433/,"Action, Adventure, Sci-Fi",Wes Craven,Star Trek
freq,3,3,1,41,8,13

## 10. How many movies Runtime is equal to 100

In [61]:
# Use len

len(movies[movies['Runtime (mins)'] == 100])

25

In [62]:
# Or use count

movies[movies['Runtime (mins)'] == 100].count()

index             25
Title             25
Release Date      25
Year              25
URL               25
IMDb Rating       25
Runtime (mins)    25
Genres            25
Num Votes         25
Directors         25
Movie Series      25
dtype: int64

## 11. Provide the list and number of Genres that contains Adventure

In [63]:
# The list

movies[movies['Genres'].str.contains('Adventure')]

,index,Title,Release Date,Year,URL,IMDb Rating,Runtime (mins),Genres,Num Votes,Directors,Movie Series
0,1,101 Dalmatians,18-11-1996,1996,https://www.imdb.com/title/tt0115433/,5.7,103,"Adventure, Comedy, Crime, Family",98439,Stephen Herek,101 Dalmatians
1,2,102 Dalmatians,22-11-2000,2000,https://www.imdb.com/title/tt0211181/,4.9,100,"Adventure, Comedy, Family",33823,Kevin Lima,101 Dalmatians
3,4,12 Rounds 2: Reloaded,2013-04-06 00:00:00,2013,https://www.imdb.com/title/tt2317524/,5.3,95,"Action, Adventure, Thriller",5141,Roel ReinÃ©,12 Rounds
12,13,A Dog's Purpose,19-01-2017,2017,https://www.imdb.com/title/tt1753383/,7.2,100,"Adventure, Comedy, Drama, Family, Fantasy",62603,Lasse HallstrÃ¶m,A Dog's Purpose
13,14,A Dog's Journey,2019-03-05 00:00:00,2019,https://www.imdb.com/title/tt8385474/,7.5,109,"Adventure, Comedy, Drama, Family, Fantasy",15850,Gail Mancuso,A Dog's Purpose
...,...,...,...,...,...,...,...,...,...,...,...
841,842,[Rec],29-08-2007,2007,https://www.imdb.com/title/tt1038988/,7.4,78,"Action, Adventure, Fantasy, Horror, Sci-Fi, Th...",160946,"Jaume BalaguerÃ³, Paco Plaza",[Rec]
842,843,[Rec]Â²,2009-02-09 00:00:00,2009,https://www.imdb.com/title/tt1245112/,6.5,85,"Action, Adventure, Fantasy, Horror, Sci-Fi, Th...",67100,"Jaume BalaguerÃ³, Paco Plaza",[Rec]
844,845,[REC] 4: Apocalipsis,2014-09-09 00:00:00,2014,https://www.imdb.com/title/tt1649443/,5.3,95,"Action, Adventure, Fantasy, Horror, Sci-Fi, Th...",15599,Jaume BalaguerÃ³,[Rec]
845,846,xXx,2002-09-08 00:00:00,2002,https://www.imdb.com/title/tt0295701/,5.9,124,"Action, Adventure, Thriller",170874,Rob Cohen,xXx
846,847,xXx: State of the Union,27-04-2005,2005,https://www.imdb.com/title/tt0329774/,4.4,101,"Action, Adventure, Crime, Sci-Fi, Thriller",66166,Lee Tamahori,xXx

In [64]:
# The Number

len(movies[movies['Genres'].str.contains('Adventure')])

308

## 12. Top 5 Movie Series

In [65]:
movies['Movie Series'].value_counts().head()

Star Trek          13
Halloween          11
Friday the 13th     9
Harry Potter        8
Batman              7
Name: Movie Series, dtype: int64

## 13. Give a List of movie Titles released in the year 2015

In [66]:
movies[movies['Year'] == 2015]['Title']

179                                Insurgent
196                         Fast & Furious 7
294                   Hot Tub Time Machine 2
296                     Hotel Transylvania 2
320                     Insidious: Chapter 3
343                           Jurassic World
379                           Magic Mike XXL
390           Maze Runner: The Scorch Trials
404       Mission: Impossible - Rogue Nation
433                   Paul Blart: Mall Cop 2
586                                    Ted 2
600                  Avengers: Age of Ultron
677    The Hunger Games: Mockingjay - Part 2
739    The Second Best Exotic Marigold Hotel
Name: Title, dtype: object

## 14. Find the director name with the following URL: https://www.imdb.com/title/tt0106220/

In [67]:
movies[movies['URL'] == 'https://www.imdb.com/title/tt0106220/']

,index,Title,Release Date,Year,URL,IMDb Rating,Runtime (mins),Genres,Num Votes,Directors,Movie Series
27,28,Addams Family Values,19-11-1993,1993,https://www.imdb.com/title/tt0106220/,6.7,94,"Comedy, Fantasy",76150,Barry Sonnenfeld,Addams Family alues

In [68]:
movies[movies['URL'] == 'https://www.imdb.com/title/tt0106220/']['Directors']

27    Barry Sonnenfeld
Name: Directors, dtype: object

## 15. How many movies have Action, Adventure, Sci-Fi as Genres and IMDb Rating above or equal to 5.0

In [69]:
movies[(movies['Genres'] == 'Action, Adventure, Sci-Fi') & (movies['IMDb Rating'] >= 5.0)]

,index,Title,Release Date,Year,URL,IMDb Rating,Runtime (mins),Genres,Num Votes,Directors,Movie Series
86,87,Batman v Superman: Dawn of Justice,2016-12-03 00:00:00,2016,https://www.imdb.com/title/tt2975590/,6.5,151,"Action, Adventure, Sci-Fi",607303,Zack Snyder,Batman v Superman
93,94,Beneath the Planet of the Apes,23-04-1970,1970,https://www.imdb.com/title/tt0065462/,6.1,95,"Action, Adventure, Sci-Fi",40796,Ted Post,Beneath the Planet of the Apes
123,124,Captain America: The First Avenger,19-07-2011,2011,https://www.imdb.com/title/tt0458339/,6.9,124,"Action, Adventure, Sci-Fi",717470,Joe Johnston,Captain America
125,126,Captain America: Civil War,2016-12-04 00:00:00,2016,https://www.imdb.com/title/tt3498820/,7.8,147,"Action, Adventure, Sci-Fi",637167,"Anthony Russo, Joe Russo",Captain America
313,314,Independence Day,25-06-1996,1996,https://www.imdb.com/title/tt0116629/,7.0,145,"Action, Adventure, Sci-Fi",515622,Roland Emmerich,Independence Day
314,315,Independence Day: Resurgence,20-06-2016,2016,https://www.imdb.com/title/tt1628841/,5.2,120,"Action, Adventure, Sci-Fi",162278,Roland Emmerich,Independence Day
322,323,Iron Man,14-04-2008,2008,https://www.imdb.com/title/tt0371746/,7.9,126,"Action, Adventure, Sci-Fi",914174,Jon Favreau,Iron Man
323,324,Iron Man 2,26-04-2010,2010,https://www.imdb.com/title/tt1228705/,7.0,124,"Action, Adventure, Sci-Fi",700641,Jon Favreau,Iron Man
324,325,Iron Man Three,2013-12-04 00:00:00,2013,https://www.imdb.com/title/tt1300854/,7.2,130,"Action, Adventure, Sci-Fi",734324,Shane Black,Iron Man
341,342,The Lost World: Jurassic Park,19-05-1997,1997,https://www.imdb.com/title/tt0119567/,6.6,129,"Action, Adventure, Sci-Fi",366886,Steven Spielberg,Jurassic Park
343,344,Jurassic World,29-05-2015,2015,https://www.imdb.com/title/tt0369610/,7.0,124,"Action, Adventure, Sci-Fi",565368,Colin Trevorrow,Jurassic Park
374,375,Mad Max Beyond Thunderdome,29-06-1985,1985,https://www.imdb.com/title/tt0089530/,6.3,107,"Action, Adventure, Sci-Fi",123729,"George Ogilvie, George Miller",Mad Max
386,387,Man of Steel,2013-10-06 00:00:00,2013,https://www.imdb.com/title/tt0770828/,7.0,143,"Action, Adventure, Sci-Fi",674403,Zack Snyder,Man of Steel
537,538,Spider-Man,30-04-2002,2002,https://www.imdb.com/title/tt0145487/,7.3,121,"Action, Adventure, Sci-Fi",670777,Sam Raimi,Spider-Man
538,539,Spider-Man 2,25-06-2004,2004,https://www.imdb.com/title/tt0316654/,7.3,127,"Action, Adventure, Sci-Fi",528482,Sam Raimi,Spider-Man
539,540,Spider-Man 3,2007-03-04 00:00:00,2007,https://www.imdb.com/title/tt0413300/,6.2,139,"Action, Adventure, Sci-Fi",485814,Sam Raimi,Spider-Man
540,541,Spider-Man: Homecoming,28-06-2017,2017,https://www.imdb.com/title/tt2250912/,7.4,133,"Action, Adventure, Sci-Fi",487320,Jon Watts,Spider-Man
541,542,Spider-Man: Far from Home,26-06-2019,2019,https://www.imdb.com/title/tt6320628/,7.5,129,"Action, Adventure, Sci-Fi",295530,Jon Watts,Spider-Man
548,549,Star Trek II: The Wrath of Khan,1982-04-06 00:00:00,1982,https://www.imdb.com/title/tt0084726/,7.7,113,"Action, Adventure, Sci-Fi",109874,Nicholas Meyer,Star Trek
549,550,Star Trek III: The Search for Spock,1984-01-06 00:00:00,1984,https://www.imdb.com/title/tt0088170/,6.7,105,"Action, Adventure, Sci-Fi",72566,Leonard Nimoy,Star Trek
557,558,Star Trek,2009-06-04 00:00:00,2009,https://www.imdb.com/title/tt0796366/,7.9,127,"Action, Adventure, Sci-Fi",569573,J.J. Abrams,Star Trek
558,559,Star Trek Into Darkness,2013-02-05 00:00:00,2013,https://www.imdb.com/title/tt1408101/,7.7,132,"Action, Adventure, Sci-Fi",456702,J.J. Abrams,Star Trek
574,575,Superman II,1980-04-12 00:00:00,1980,https://www.imdb.com/title/tt0081573/,6.8,127,"Action, Adventure, Sci-Fi",95572,"Richard Donner, Richard Lester",Superman
592,593,Terminator Salvation,14-05-2009,2009,https://www.imdb.com/title/tt0438488/,6.5,115,"Action, Adventure, Sci-Fi",337090,McG,Terminator
595,596,The Amazing Spider-Man,13-06-2012,2012,https://www.imdb.com/title/tt0948470/,6.9,136,"Action, Adventure, Sci-Fi",547041,Marc Webb,The Amazing Spider-Man
596,597,The Amazing Spider-Man 2,2014-10-04 00:00:00,2014,https://www.imdb.com/title/tt1872181/,6.6,142,"Action, Adventure, Sci-Fi",406777,Marc Webb,The Amazing Spider-Man
599,600,The Avengers,2012-11-04 00:00:00,2012,https://www.imdb.com/title/tt0848228/,8.0,143,"Action, Adventure, Sci-Fi",1234544,Joss Whedon,The Avengers
600,601,Avengers: Age of Ultron,13-04-2015,2015,https://www.imdb.com/title/tt2395427/,7.3,141,"Action, Adventure, Sci-Fi",716040,Joss Whedon,The Avengers
601,602,Avengers: Infinity War,23-04-2018,2018,https://www.imdb.com/title/tt4154756/,8.5,149,"Action, Adventure, Sci-Fi",781599,"Anthony Russo, Joe Russo",The Avengers
680,681,The Incredible Hulk,2008-06-06 00:00:00,2008,https://www.imdb.com/title/tt0800080/,6.7,112,"Action, Adventure, Sci-Fi",423277,Louis Leterrier,The Incredible Hulk
780,781,Transformers,2007-12-06 00:00:00,2007,https://www.imdb.com/title/tt0418279/,7.0,144,"Action, Adventure, Sci-Fi",586248,Michael Bay,Transformers
781,782,Transformers: Revenge of the Fallen,2009-08-06 00:00:00,2009,https://www.imdb.com/title/tt1055369/,6.0,149,"Action, Adventure, Sci-Fi",377366,Michael Bay,Transformers
782,783,Transformers: Dark of the Moon,23-06-2011,2011,https://www.imdb.com/title/tt1399103/,6.2,154,"Action, Adventure, Sci-Fi",378156,Michael Bay,Transformers
783,784,Transformers: Age of Extinction,19-06-2014,2014,https://www.imdb.com/title/tt2109248/,5.6,165,"Action, Adventure, Sci-Fi",293205,Michael Bay,Transformers
784,785,Transformers: The Last Knight,18-06-2017,2017,https://www.imdb.com/title/tt3371366/,5.2,154,"Action, Adventure, Sci-Fi",130601,Michael Bay,Transformers
804,805,Universal Soldier: Regeneration,2009-01-10 00:00:00,2009,https://www.imdb.com/title/tt1288403/,5.2,97,"Action, Adventure, Sci-Fi",24329,John Hyams,Universal Soldier
828,829,X-Men,2000-12-07 00:00:00,2000,https://www.imdb.com/title/tt0120903/,7.4,104,"Action, Adventure, Sci-Fi",558544,Bryan Singer,X-Men
830,831,X-Men: The Last Stand,22-05-2006,2006,https://www.imdb.com/title/tt0376994/,6.7,104,"Action, Adventure, Sci-Fi",472674,Brett Ratner,X-Men
831,832,X-Men Origins: Wolverine,2009-08-04 00:00:00,2009,https://www.imdb.com/title/tt0458525/,6.6,107,"Action, Adventure, Sci-Fi",456887,Gavin Hood,X-Men
832,833,X: First Class,25-05-2011,2011,https://www.imdb.com/title/tt1270798/,7.7,131,"Action, Adventure, Sci-Fi",633383,Matthew Vaughn,X-Men
833,834,The Wolverine,16-07-2013,2013,https://www.imdb.com/title/tt1430132/,6.7,126,"Action, Adventure, Sci-Fi",419703,James Mangold,X-Men

In [70]:
len(movies[(movies['Genres'] == 'Action, Adventure, Sci-Fi') & (movies['IMDb Rating'] >= 5.0)])

41

## 16. Movie Series with the highest IMDb Rating

In [71]:
# First check for the highest IMDb Rating

movies ['IMDb Rating'].max()

9.2

In [72]:
# Then look for the Movie Series with the highest IMDb Rating

movies[movies ['IMDb Rating'] == 9.2]

,index,Title,Release Date,Year,URL,IMDb Rating,Runtime (mins),Genres,Num Votes,Directors,Movie Series
658,659,The Godfather,14-03-1972,1972,https://www.imdb.com/title/tt0068646/,9.2,175,"Crime, Drama",1554770,Francis Ford Coppola,The Godfather

In [73]:
movies[movies ['IMDb Rating'] == 9.2] ['Movie Series']

658    The Godfather
Name: Movie Series, dtype: object

### OR

In [74]:
movies[movies['IMDb Rating'] == movies['IMDb Rating'].max()]

,index,Title,Release Date,Year,URL,IMDb Rating,Runtime (mins),Genres,Num Votes,Directors,Movie Series
658,659,The Godfather,14-03-1972,1972,https://www.imdb.com/title/tt0068646/,9.2,175,"Crime, Drama",1554770,Francis Ford Coppola,The Godfather

In [75]:
movies[movies['IMDb Rating'] == movies['IMDb Rating'].max()] ['Movie Series']

658    The Godfather
Name: Movie Series, dtype: object

## 17. In what Year were most Movies released

In [76]:
movies['Year'].value_counts().head()

2011    40
2014    36
2004    34
2012    34
2003    34
Name: Year, dtype: int64

In 2011, a total of 40 Movies was released which is the highest

In [11]:
movies[movies.duplicated()] ['Title']

Series([], Name: Title, dtype: object)